<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label _col-sm-2">{{=it.settings.label }}</label>
        <select name="{{=it.name}}"
        {{ for(var index in it.attributes) { }} {{=index}}="{{=it.attributes[index] }}" {{ } }}
        {{?it.settings.validate}} data-validate="{{=it.settings.validate}}" {{?}}
        >
        {{?it.settings && it.settings.option}}
        {{~it.settings.option :value:index}}
        <option value="{{=value.key}}" {{=(value.key==it.values)?"SELECTED":""}}>
            {{=value.value}}
        </option>
        {{~}}
        {{?}}
        </select>
        <div class="text-danger"></div>
    </div>
</div>