<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label">
            <input type="checkbox" name="{{=it.name}}"
            {{ for(var index in it.attributes) { }} {{=index}}="{{=it.attributes[index] }}" {{ } }}
            {{?it.settings.validate}} data-validate="{{=it.settings.validate}}" {{?}}
            {{?it.values}}value="{{=it.values}}" CHECKED{{?}}
            >
            {{=it.settings.label }}</label>
        <div class="text-danger"></div>
    </div>
</div>